.disco {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 400px;
  background: rgb(245, 245, 245);

  .left-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border: 1px dashed $color1;
    line-height: 20px;

    h4 {
      color: $color1;
      font-family: $font1;
      font-size: 1.5rem;
      font-weight: 100;
      margin-top: 30px;
    }
    h5 {
      text-transform: uppercase;
      font-family: $font2;
      font-size: 1rem;
    }
    img:first-of-type {
      height: 28px;
      margin: 20px;
    }
    p {
      text-align: center;
      margin: 0 10px;
      font-family: $font3;
      font-size: 0.9rem;
      color: rgb(112, 112, 112);
    }
    img:last-of-type {
      border-radius: 999px;
      height: 70px;
      margin: 20px 0 15px 0;
    }

    h6 {
      font-family: $font2;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    p:last-of-type {
      text-transform: uppercase;
      font-family: $font3;
      font-size: 0.7rem;
      color: rgba(128, 128, 128, 0.695);
    }
  }
  .disco-img {
    background: url(/assets/img/store-01.jpg) center/cover;
  }
}
.container-bg {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;

  height: 50%;

  .menu-part {
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 45px 0 0 0;

    h4 {
      font-family: $font1;
      color: $color1;
      font-size: 2rem;
    }
    img:first-of-type {
      margin: 20px 0 30px 0;
    }

    nav {
      width: 100%;
      margin-bottom: 30px;
      .choices {
        display: flex;
        justify-content: space-around;
        li {
          font-family: $font3;
          font-size: 0.9rem;
          padding: 0 0 5px 0;
          color: $white1;
          border-bottom: 1px solid $white1;

          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }

    .menu {
      width: 100%;
      background: $white1;
      display: grid;
      grid-template-columns: 50% 50%;
      border-top: 4px solid $color1;
      margin-bottom: 100px;

      .in-menu {
        display: flex;
        align-items: center;
        padding: 20px 0 0 0;
        margin: 0 20px 10px;
        border-bottom: 1px dashed rgb(182, 182, 182);
        gap: 10px;
        img {
          border-radius: 999px;
          height: 80px;
        }
        div {
          width: 100%;

          h5 {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-family: $font3;
            color: black;
            padding: 0 0 5px;
            width: 100%;
            white-space: nowrap;
          }
          p {
            font-family: $font3;
            font-size: 0.9rem;
            color: rgb(152, 152, 152);
            width: 100%;
          }
        }
        .price {
          color: $color1;
          width: 100%;
          font-family: $font3;
          font-size: 1.1rem;
          text-align: end;
        }
      }
    }
  }
}

.booking {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 80%;
  margin: 80px auto;
  background: rgb(4, 4, 4);

  .left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    line-height: 22px;
    background: rgb(4, 4, 4);
    border: 1px rgb(201, 201, 201) dashed;
    margin: 20px;

    h4 {
      font-family: $font1;
      color: $color1;
      font-size: 2rem;
      letter-spacing: 1px;
    }
    h6 {
      font-family: $font2;
      color: $white1;
      font-size: 1.3rem;
    }
    img {
      height: 28px;
      margin: 20px 0;
    }
    h5 {
      color: $color1;
      font-family: $font2;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1rem;
      margin: 25px 0 20px;

      &:last-of-type {
        margin: 40px 0 10px;
      }
    }
    p {
      line-height: 17px;
      color: rgb(201, 201, 201);
      font-size: 0.8rem;
      font-family: $font3;
    }
  }

  .right-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $white1;
    justify-content: center;

    line-height: 25px;
    h4 {
      color: $color1;
      font-family: $font1;
      font-size: 2.4rem;
      font-weight: 100;
    }
    p {
      font-family: $font2;
      text-transform: uppercase;
      font-size: 1.7rem;
    }
    img {
      height: 25px;
      margin: 30px;
    }

    .form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px 40px;
      gap: 15px;
      select,
      input {
        font-family: $font3;
        background: none;
        border: transparent;
        border-bottom: 1px solid rgb(205, 205, 205);
        outline: none;
      }
    }
    .submit-container {
      margin: 20px;
      input {
        cursor: pointer;
        margin: 20px;
        border: none;
        padding: 10px 30px;
        letter-spacing: 2px;
        background: $black1;
        color: $white1;
        font-family: $font2;
        border-radius: 999px;
        transition: 0.3s;

        &:hover {
          border: 1px solid $black1;
          background: $white1;
          color: $black1;
        }
      }
    }
  }
}

.events {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 38px;

  h4 {
    font-family: $font1;
    color: $color1;
    font-size: 2.4rem;
    font-weight: 100;
  }
  h6 {
    font-family: $font2;
    color: $white1;
    font-size: 2rem;
  }
  img {
    margin: 30px 0 20px;
  }

  .main-container {
    width: 65%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "e1 e3"
      "e2 e3";
    gap: 20px;

    img {
      height: 300px;
    }

    .up-left-container {
      display: flex;
      background: $white1;
      grid-area: e1;
      width: 100%;
      .left-part {
        background: url(/assets/img/event-01.jpg) center/cover;
        height: 100%;
        width: 40%;
        .date {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
          p {
            background: $black1;
            padding: 15px;
            color: $white1;
            font-family: $font3;
            width: min-content;
            line-height: 23px;
            font-size: 1rem;
          }
          p:first-line {
            font-size: 1.8rem;
            font-weight: 900;
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        color: rgb(204, 204, 204);
        font-family: $font3;
        padding: 20px;
        justify-content: center;
        align-items: flex-start;
        h6 {
          font-family: $font3;
          color: $black1;
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: 100;
          color: rgb(103, 103, 103);
        }
        p {
          font-size: 0.8rem;
        }
        a {
          font-family: $font3;
          letter-spacing: 2px;
          font-size: 0.8rem;
          color: $black1;
          font-weight: 900;
        }
      }
    }

    .down-left-container {
      display: flex;
      background: $white1;
      grid-area: e2;
      width: 100%;

      .left-part {
        background: url(/assets/img/event-02.jpg) center/cover;
        height: 100%;
        width: 40%;

        .date {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
          p {
            background: $black1;
            padding: 15px;
            color: $white1;
            font-family: $font3;
            width: min-content;
            line-height: 23px;
            font-size: 1rem;
          }
          p:first-line {
            font-size: 1.8rem;
            font-weight: 900;
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        color: rgb(204, 204, 204);
        font-family: $font3;
        padding: 20px;
        justify-content: center;
        align-items: flex-start;
        h6 {
          font-family: $font3;
          color: $black1;
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: 100;
          color: rgb(103, 103, 103);
        }
        p {
          font-size: 0.8rem;
        }
        a {
          font-family: $font3;
          letter-spacing: 2px;
          font-size: 0.8rem;
          color: $black1;
          font-weight: 900;
        }
      }
    }
    .right-container {
      grid-area: e3;
      width: 100%;
      height: 400px;
      background: url(/assets/img/event-03.jpg) center/cover;
      padding: 25px;

      .container {
        display: flex;
        flex-direction: column;
        background: $white1;
        height: 100%;
        width: 100%;
        justify-content: center;
        position: relative;
        .date {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);

          p {
            background: $black1;
            padding: 15px;
            color: $white1;
            font-family: $font3;
            width: min-content;
            line-height: 23px;
            font-size: 1rem;
          }
          p:first-line {
            font-size: 1.8rem;
            font-weight: 900;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          color: rgb(204, 204, 204);
          font-family: $font3;
          align-items: center;
          margin: 20px;
          h6 {
            font-family: $font3;
            color: $black1;
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: 100;
            color: rgb(103, 103, 103);
            line-height: 20px;
          }
          p {
            font-size: 0.8rem;
          }
        }
        a {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          font-family: $font3;
          letter-spacing: 2px;
          font-size: 0.8rem;
          color: $black1;
          font-weight: 900;
        }
      }
    }
  }
}
